apiVersion: networking.gke.io/v1
kind: HealthCheckPolicy
metadata:
  name: users-healthcheck
spec:
  default:
    checkIntervalSec: 5
    timeoutSec: 5
    healthyThreshold: 2
    unhealthyThreshold: 2
    config:
      type: HTTP
      httpHealthCheck:
        portSpecification: USE_SERVING_PORT
        requestPath: /api/v1/healthz
  targetRef:
    group: ""
    kind: Service
    name: users-service
