apiVersion: apps/v1
kind: Deployment
metadata:
  name: users-deployment
spec:
  template:
    spec:
      containers:
        - name: users
          image: users:local
          env:
            - name: ALLOWED_ORIGINS
              value: "http://localhost:3000"
